{% extends 'base.html' %}

{% block conteudo %}
<!-- Template para cadastrar um novo fornecedor -->

<h2>Cadastrar Fornecedor</h2>

<div class="form-container">
    <form action="/add_fornecedor" method="POST">
        <!-- Dados do fornecedor -->
        <input type="text" name="nome_empresa" placeholder="Empresa" required>
        <input type="text" name="cnpj" placeholder="CNPJ" required>
        <input type="number" name="produto_quantidade" placeholder="Quantidade" required>
        <input type="number" step="0.01" min="0" name="preco" placeholder="Preço por unidade" required>

        <h5>Endereço</h5>
        <!-- Dados do endereço -->
        <input type="text" name="cidade" placeholder="Cidade" required>
        <input type="text" name="rua" placeholder="Rua" required>
        <input type="text" name="bairro" placeholder="Bairro" required>
        <input type="number" name="numero" placeholder="Número" required>
        <input type="text" name="complemento" placeholder="Complemento">

        <button type="submit">Cadastrar</button>
        <div style="display: inline-block; margin-left: 10px;">
            <button type="button" class="botao" onclick="history.back()">Voltar</button>
        </div>
    </form>
</div>

{% endblock %}