<!DOCTYPE html>
<html>
<head>
<title>Cadastrar Estoque</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Cadastrar Estoque</h1>

<form action="/add_estoque" method="POST">

<input type="number" name="quantidade_calcas" placeholder="Quantidade de calças" required>

<input type="number" step="0.01" name="preco_venda" placeholder="Preço de venda" required>

<select name="vendedor_id" required>

<option value="">Escolha um vendedor</option>

{% for vendedor in vendedores %}

<option value="{{ vendedor.id }}">
{{ vendedor.nome }}
</option>

{% endfor %}

</select>

<button type="submit">Cadastrar</button>

</form>

<br>

<a href="/">Voltar</a>

</body>
</html>