<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Lista de Fornecedores</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Fornecedores</h1>

<table>

<tr>
<th>ID</th>
<th>Empresa</th>
<th>CNPJ</th>
<th>Quantidade</th>
<th>Preço</th>
<th>Cidade</th>
<th>Rua</th>
<th>Bairro</th>
<th>Número</th>
<th>Complemento</th>
</tr>

{% for fornecedor in fornecedores %}
<tr>

<td>{{ fornecedor.id }}</td>
<td>{{ fornecedor.nome_empresa }}</td>
<td>{{ fornecedor.cnpj }}</td>
<td>{{ fornecedor.produto_quantidade }}</td>
<td>{{ fornecedor.preco }}</td>
<td>{{ fornecedor.cidade }}</td>
<td>{{ fornecedor.rua }}</td>
<td>{{ fornecedor.bairro }}</td>
<td>{{ fornecedor.numero }}</td>
<td>{{ fornecedor.complemento }}</td>

<td>
    <a href="{{ url_for('fornecedor.excluir_fornecedor', id=fornecedor.id) }}">
        <button>Excluir</button>
    </a>
    </td>
    

</tr>
{% endfor %}

</table>

<br>

<div class="voltar">
    <a href="/">
        <button>Voltar</button>
    </a>
</div>
</body>
</html>