{% extends 'base.html' %}

{% block conteudo %}

<h2>Vendas</h2>

<table>
<tr>
<th>ID</th>
<th>Cliente</th>
<th>Vendedor</th>
<th>Qtd</th>
<th>Preço</th>
<th>Data</th>
<th>Ações</th>
</tr>

{% for venda in vendas %}
<tr>
<td>{{ venda.id }}</td>
<td>{{ venda.cliente }}</td>
<td>{{ venda.vendedor }}</td>
<td>{{ venda.quantidade_vendas }}</td>
<td>{{ venda.preco }}</td>
<td>{{ venda.data }}</td>
<td>
<a href="{{ url_for('vendas.excluir_venda_route', id=venda.id) }}">
<button>Excluir</button>
</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}