{% extends 'base.html' %}

{% block conteudo %}
<!-- Template para editar um vendedor existente -->

<h2>Editar Vendedor</h2>

<form method="POST" action="/atualizar_vendedor/{{ vendedor.id }}">
    <input name="nome" value="{{ vendedor.nome }}" required>
    <input name="cpf" value="{{ vendedor.cpf }}" required>
    <button type="submit">Salvar</button>
    <div style="display: inline-block; margin-left: 10px;">
        <button type="button" class="botao" onclick="history.back()">Voltar</button>
    </div>
</form>

{% endblock %}