
<th>Login</th>

{% for vendedor in vendedores %}
<tr>
    <td>{{ vendedor.id }}</td>
    <td>{{ vendedor.nome }}</td>
    <td>{{ vendedor.cpf }}</td>
    <td>{{ vendedor.email }}</td>

    <td>
        {% if vendedor.data_nascimento %}
            {{ vendedor.data_nascimento.strftime("%d/%m/%Y") }}
        {% else %}
            -
        {% endif %}
    </td>

    <td>{{ vendedor.login_nome }}</td>

    <td>
        <a href="{{ url_for('vendedor.excluir_vendedor_route', id=vendedor.id) }}" class="btn">Excluir</a>
        <a href="{{ url_for('vendedor.editar_vendedor', id=vendedor.id) }}" class="btn">Alterar</a>
    </td>
</tr>
{% endfor %}