{% extends 'base.html' %}

{% block conteudo %}
<!-- Template para cadastrar um novo vendedor -->

<h2>Cadastrar Vendedor</h2>

<div class="form-container">
    <form action="/add_vendedor" method="POST">
        <!-- Dados do vendedor -->
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="cpf" placeholder="CPF" required>
        
        <button type="submit">Cadastrar</button>
        <div style="display: inline-block; margin-left: 10px;">
            <button type="button" class="botao" onclick="history.back()">Voltar</button>
        </div>
    </form>
</div>

{% endblock %}