/* RESET & BODY */
body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f6f9;
}

/* 🔵 SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: -220px;       /* sidebar escondida à direita */
    width: 220px;
    height: 100vh;
    background: #7d2686;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.75);
    z-index: 999;
    transition: 0.3s;
}

.sidebar h4 {
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.58);
}

.sidebar a:hover {
    background: #7d2686;
}

/* 🔝 TOPBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 🟢 CONTEÚDO */
.content {
    margin-left: 20px;    /* espaço mínimo à esquerda */
    margin-right: 240px;  /* espaço para sidebar à direita */
    padding: 20px;
}

/* 📊 TABELAS */
table {
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

th {
    background: #7c2586;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* 🧾 FORMULÁRIOS */
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* 🔘 BOTÕES */
button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #7e1c89d2;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #c662d1;
}