/* MENU BOTÃO */
.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
        color: white; /* 👈 muda a cor */
}
.btn-voltar {
    position: fixed;
    top: 70px;
    left: 20px;
    background: #7c2586;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    z-index: 2000; /* MAIS ALTO QUE TUDO */
}

.sidebar a:hover {
    background-color: #c662d1;
    color: white;
    transition: 0.3s;
}

/* SIDEBAR ESCONDIDA */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #7c2586;
    color: white;
    position: fixed;
    left: -220px;
    top: 0;
    padding: 20px;
    transition: 0.3s;
    overflow-y: auto;
}

/* SIDEBAR ATIVA */
.sidebar.active {
    left: 0;
}

/* TOPBAR */
.topbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #7c2586;
    display: flex;
    align-items: center;
    padding-left: 70px;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.749);
}

.topbar h4 {
    color: rgba(255, 255, 255, 0.868);
    margin-top: 9px;
    /* ajusta a altura do texto */
}

/* CONTEÚDO */
.content {
    margin-left: 0;
    padding: 70px 20px 20px 20px; /* espaço da topbar */
    transition: 0.3s;
}

/* EMPURRA CONTEÚDO */
.content.shift {
    margin-left: 220px;
}
/* REMOVE QUALQUER LINHA ROXA / FOCO */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
}