body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

/* 🔵 TOP BAR */
.top-bar {
    background: #883891;
    padding: 20px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.749);
}

.menu-icon {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

/* MENU DROPDOWN */
.menu {
    display: none;
    position: absolute;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background: #eee;
}

.show {
    display: block;
}

/* 🟢 CONTEÚDO */
.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
}

.botoes {
    margin-top: 30px;
}

.botoes button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    background: #883891;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.749);
}

.botoes button:hover {
    background: #c662d1;
}
.sugestoes-box {
    position: absolute;
    width: 300px; /* 👈 tamanho fixo menor */
    background: #883891;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

/* CADA ITEM */
.item-sugestao {
    background: #883891;
    color: white;
    padding: 12px;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

/* HOVER */
.item-sugestao:hover {
    background: #c662d1;
    transform: scale(1.02);
}