{% extends 'base.html' %}

{% block conteudo %}
<div class="titulo-tabela" style="display:flex; justify-content: space-between; align-items:center; margin-bottom:10px;">
    <h2>Estoque</h2>
    <button type="button" class="botao" onclick="history.back()">← Voltar</button>
</div>

<!-- INPUT DE BUSCA -->
<input type="text" id="search-input" placeholder="Buscar por fornecedor..." style="margin-bottom:10px; padding:5px 10px; width:200px;">

<!-- CAIXA DE SUGESTÕES -->
<div id="sugestoes-box" class="lista-sugestoes"></div>

<!-- TABELA -->
<table id="tabela-estoque">
<tr>
    <th>ID</th>
    <th>Fornecedor</th>
    <th>Quantidade</th>
    <th>Preço por unidade</th>
    <th>Preço Total</th>
    <th>Ações</th>
</tr>

{% for item in estoque %}
<tr>
    <td>{{ item.id }}</td>
    <td>{{ item.nome_empresa }}</td>
    <td>{{ item.quantidade_calcas }}</td>
    <td>{{ item.preco_venda }}</td>
    <td>{{ item.preco_venda_total }}</td>
    <td>
        <a href="{{ url_for('estoque.excluir_estoque_route', id=item.id) }}">
            <button>Excluir</button>
        </a>
        <a href="{{ url_for('estoque.editar_estoque', id=item.id) }}">
            <button>Alterar</button>
        </a>
    </td>
</tr>
{% endfor %}
</table>

<!-- JS SEMPRE NO FINAL -->
<script src="{{ url_for('static', filename='js/search_estoque.js') }}"></script>

{% endblock %}