{% extends 'base.html' %}

{% block conteudo %}
<div class="titulo-tabela" style="display:flex; justify-content: space-between; align-items:center; margin-bottom:10px;">
    <h2>Vendas</h2>
    <button type="button" class="botao" onclick="history.back()">← Voltar</button>
</div>

<input type="text" id="search-input" placeholder="Buscar por cliente ou vendedor..." style="margin-bottom:10px; padding:5px 10px; width:250px;">
<div id="sugestoes-box" class="lista-sugestoes"></div>

<script src="{{ url_for('static', filename='js/search_vendas.js') }}"></script>

<table id="tabela-vendas">
<tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Vendedor</th>
    <th>Qtd</th>
    <th>Preço por unidade</th>
    <th>Preço total</th>
    <th>Data</th>
    <th>Ações</th>
</tr>

{% for venda in vendas %}
<tr>
    <td>{{ venda.id }}</td>
    <td>{{ venda.cliente }}</td>
    <td>{{ venda.vendedor }}</td>
    <td>{{ venda.quantidade_vendas }}</td>
    <td>{{ venda.preco }}</td>
    <td>R$ {{ "%.2f"|format(venda.preco_total) }}</td>
    <td>{{ venda.data }}</td>
    <td>
        <a href="{{ url_for('vendas.excluir_venda_route', id=venda.id) }}">
            <button>Excluir</button>
        </a>
        <a href="{{ url_for('vendas.editar_venda', id=venda.id) }}">
            <button>Alterar</button>
        </a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}