{% extends 'base.html' %}

{% block conteudo %}
<!-- Template para registrar uma nova venda -->

<h2>Registrar Venda</h2>

<div class="form-container">
    <form action="/add_venda" method="POST">

        <!-- CLIENTE -->
        <input type="text" id="cliente_input" placeholder="Digite o cliente" required
        data-clientes='{{ clientes | tojson | safe }}'>
        <input type="hidden" name="cliente_id" id="cliente_id">
        <input type="text" name="cpf" id="cpf" placeholder="CPF do cliente" readonly required>
        <div id="sugestoes" class="lista-sugestoes"></div>
        <script src="{{ url_for('static', filename='js/autocomplete_cliente.js') }}"></script>


        <!-- VENDEDOR (IGUAL CLIENTE) -->
        <input type="text" id="vendedor_input" placeholder="Digite o vendedor" required
        data-clientes='{{ vendedores | tojson | safe }}'>
        <input type="hidden" name="vendedor_id" id="vendedor_id">

        <!-- Dados da venda -->
        <input type="number" name="quantidade_vendas" placeholder="Quantidade" required>
        <input type="number" step="0.01" min="0" name="preco" placeholder="Preço por unidade" required>
        <input type="date" name="data" required>
        <button type="submit">Registrar</button>

        <div style="display: inline-block; margin-left: 10px;">
            <button type="button" class="botao" onclick="history.back()">Voltar</button>
        </div>
    </form>
</div>

<!-- JS DO VENDEDOR -->
<script src="{{ url_for('static', filename='js/autocomplete_vendedor.js') }}"></script>

{% endblock %}